/* #region Base styles */
body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}
/* #endregion */

/* #region comon*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

.ingredients,
.made,
.products,
.best,
.reviews {
  padding: 60px 0;
}

.ingredients-title,
.made-title,
.products-title,
.best-title,
.reviews-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.socials {
  display: flex;
  gap: 14px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  text-align: center;
  justify-items: center;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
}

.socials-link:hover,
.socials-link:focus {
  border-color: #fd9222;
}

.btn {
  min-width: 144px;
  min-height: 44px;
  padding: 14px 40px;
  font-size: 14px;
  font-weight: 400px;
  border: 1px solid transparent;
  border-radius: 100px;
}

.orange-text {
  color: #fd9222;
}

.orange-back {
  background-color: #fd9222;
}
/* #endregion */

/* #region Header */
.header .container {
  display: flex;
  align-items: center;
  gap: 90px;
  padding: 24px 16px;
}

.header .header-logo {
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-list {
  gap: 24px;
  justify-content: space-between;
  align-content: center;
}

.socials-link-icon:hover {
  fill: #fd9222;
}

.header-nav-link:hover {
  color: #fd9222;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.logo-simply {
  font-style: italic;
}

.logo-img {
  margin-left: 4px;
}

.socials-list {
}

/* #endregion Header*/

/* #region Hero*/
.hero {
  margin-bottom: 80px;
}

.hero .container {
  padding: 40px;
  padding-top: 381px;
  background: rgba(17, 17, 17, 0.4);
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero-list {
  display: flex;
  gap: 14px;
}

.hero-link {
  display: inline-flex;
  align-content: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}

.btn.orange {
  background: #fd9222;
  color: #fff;
}

.btn.light {
  background-color: transparent;
  border-color: white;
  color: #fff;
}

.btn.orange:hover,
.btn.orange:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.btn.light:hover,
.btn.light:focus {
  color: #fd9222;
  border-color: #fd9222;
}

/* #endregion */

/* #region Benefits*/
.benefits {
  padding: 50px 0;
  background: #1e1823;
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}

.benefits-item {
  width: 308px;
}

.benefits-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* #endregion */

/* #region Ingredients*/
.ingredients {
  padding-top: 120px;
}
.ingredients .container {
}

.ingredients-title {
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingredients-item {
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #fff;
}

.ingredients-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 36px;
}

.ingredients-item:nth-child(2n) {
  border-color: #fd9222;
}

.ingredients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.ingredients-img {
}
.ingredients-name {
}

/* #endregion */

/* #region Made*/
.made {
}
.made .container {
}
.made-title {
}

.made-wrapper {
  display: flex;
  gap: 20px;
}

.made-img-box {
  border: 1px solid transparent;
  border-radius: 15px;
}

.made-receipt-box {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 15px;
  max-width: 515px;
  max-height: 400px;
  padding: 32px;
}
.made-img {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
}

.made-list {
}

.made-item {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.made-item:last-child {
  margin-bottom: 0;
}

/* #endregion */

/* #region Products*/
.products {
}
.products-title {
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}

.products-item {
  width: calc((100% - 18px * 3) / 4);
  padding: 32px 20px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
}

.products .item-title {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products .item-name {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.btn.products {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  min-width: 90px;
  min-height: 30px;
  font-weight: 600;
  font-size: 14px;
}
/* #endregion */

/* #region Best*/
.best .container {
}

.best-list {
  display: flex;
  justify-content: space-between;
}

.best-item {
  background: #fff;
  border-radius: 15px 15px 15px 15px;

  transition: transform 400ms ease-in-out;
}

.best-title {
}
.orange-text {
}

.best-img-cont {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

.best-img {
  border-radius: 15px 15px 0px 0px;
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px;

  transform: translateY(-100%);
  transition: transform 400ms ease-in-out;

  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );

  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.best-item:hover {
  transform: scale(1.01);
}
.best-item:hover .overlay {
  transform: translateY(0%);
}

.best-context {
  padding: 28px 0;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0px 0px 15px 15px;
  border-top: none;
}

.best-name {
  padding: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
/* #endregion */

/* #region Reviews*/

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-item {
  text-align: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  padding: 0 24px 24px 24px;
  max-width: 360px;
  max-height: 242px;
}

.reviews-title {
}

.reviews-img {
}

.text-box {
}

.reviews-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin: 18px 0 24px 0;
}

.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.btn.review {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  background-color: transparent;
}
/* #endregion */

/* #region Footer*/
.footer {
  padding: 50px 0;
  background: #1e1823;
  color: #fff;
}
.footer .contacts-cont {
  display: flex;
}
.footer-title {
  max-width: 300px;
  max-height: 68px;
}

.footer-sicials-title {
}

.socials-item {
}

.socials-link.foot {
  fill: #fff;
}

.socials-img {
}

.footer-contacts-title {
}

.footer-address {
}

.item {
}

.contacts-link {
}

.foot-nav-box {
}

.footer-nav {
}
/* #endregion */

/* #region */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;

  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-open {
  /* opacity: 1;
  visibility: visible;
  pointer-events: auto; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 517px;
  height: 90%;
  padding: 40px;
  border-radius: 15px;
  background: #fafafa;
}

.modal-btn-icon {
  stroke-width: 2px;
  stroke: #111;
}

.modal-caption {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 40px;
}

.modal-wrapper {
  margin-bottom: 18px;
}

.modal-field-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-field {
  position: relative;
  margin-top: 8px;
}

.modal-field-input {
  width: 100%;
  height: 68px;
  border: 1.5px solid transparent;
  outline: none;
  border-radius: 13px;
  padding: 22px 24px 22px 68px;
}

.modal-field-input:focus {
  border-color: #fd9222;
}

.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: transparent;
  stroke: #111;
}

.modal-field-input:focus + .modal-field-icon {
  stroke: #fd9222;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  color: #111;
  background-color: transparent;
  border: none;
}
.modal-btn-icon {
}

.modal-txarea {
  border: 1.5px solid transparent;
  border-radius: 13px;
  outline: none;
  resize: none;
  width: 100%;
  height: 137px;
  padding: 22px 24px;
}

.modal-txarea:focus {
  border-color: #fd9222;
}

.modal-chbx-lable {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);

}

.hidden-chbx:checked + .modal-chbx-lable .checkbox-icon {
  border: none;
  background-color: #fd9222;
}

.submit-btn {
  background: #fd9222;
  color: #fff;
}
/* #endregion */
